body{
  width: 70%;
  margin:auto;
}


#programi-links{
  margin-top: 50px;
}
#goren-red{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  max-height: 200px;
  margin-bottom: 30px;
}

#dolen-red{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  max-height: 200px;
}

#objasnuvanje{
  width: 50%;
}




.document-responsive-button{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #031A62;
  border-radius: 40px;
  height: 150px;
  gap: 20px;
}
.document-responsive-button:hover {
  background-color: #FF8700;
}

.document-responsive-button:hover .document-icon{
  background-color: #031A62;
}
.document-icon{
  padding: 10px;
  background-color: #FF8700;
  border-radius: 15px;
}

.document-responsive-button a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.document-responsive-button a:hover{
  color: #031A62;
}

h2{
  color: #031A62;
}

#objasnuvanje button{
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #FF8700;
  color: #fff;
  font-size: 18px;
}

#objasnuvanje button:hover{
  background-color:#fab700;
  color:#031A62;
  cursor: pointer;
}

main{
  margin-top: 150px;
}

.red-dokumenti{
  gap: 30px;
  margin-bottom: 70px;
}

.red-dokumenti div{
  background-color:rgb(226, 233, 240);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
}

.dokumenti a{
  text-decoration: none;
  color: #031A62;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.dokumenti a:hover{
  color: #FF8700;
}

.made-for-gap{
  gap: 40px;
}

#dopolnitelni-dokumenti{
  margin-bottom: 100px;
}


#goren-dopolnitelen-del{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

#dolen-dopolnitelen-del{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-evenly;
}


.dopolnitelni-linkovi{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content:space-around;
  background-color:rgb(226, 233, 240);
  align-items: center;
  border-radius: 30px;;
}


.dolen-del-border-image{
  width: 15%;
}

.dolen-del-border-image img{
  width: 100%;
  height: auto;
}

.dopolnitelni-linkovi .document-responsive-button{
  background-color: rgb(226, 233, 240);
  border: solid 2px #031A62;
}

.dopolnitelni-linkovi .document-responsive-button .document-icon{
  background-color: #031A62;
}

.dopolnitelni-linkovi .document-responsive-button a{
  color: #031A62;
}

.dopolnitelni-linkovi .document-responsive-button:hover{
  border: solid 2px #FF8700;
}

.dopolnitelni-linkovi .document-responsive-button:hover .document-icon{
  background-color: #FF8700;
}

.dopolnitelni-linkovi .document-responsive-button a:hover{
  color: #FF8700;
}
