
#main-page-navbar {
max-width: 1020px;
width: auto;
/* max-height: 124px; */
height: auto;
background-image: url(./main-page-navbar-background.png);
background-size: contain;
background-repeat: no-repeat;
display:flex;
flex-direction: column;


}

#main-nav-first-row{
  display: flex;
  height: 40%;
}

#whitest-of-spaces{
  width: 45%;
}

#main-page-navbar-upper-row-links{
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main-page-navbar-upper-row-links div{
 
  margin-top: 15px;
  margin-bottom: 10px;
}

#main-page-navbar-upper-row-links div a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;


}

#main-nav-second-row{
  height: 60%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-nav-logo-section{
  width: 30%;
  max-height: 46px;
  display: flex;
  justify-content: center;
  /* border-right: medium, solid, #00A3FF; */
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #00A3FF;
}

#main-nav-logo{
  margin-right: 15px;
}

#main-page-navbar-lower-row-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.dropdown a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-top: 5px;
  padding: 7px 15px;
  /* background-color: #00A3FF; */
}

.dropdown-content{
position: absolute;
display: none;
min-width: 140px;
}

.dropdown-content a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #031A62;
}

.dropdown:hover .dropdown-content{
  display: block;
}



a:hover{
  color: #FF8700;
}

#main-page-navbar-upper-row-links a:hover{
  color: #FF8700;
}